/* Global Reset */
html, body {
  margin: 0;
  padding: 0;
  font-family: Karla, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #495E57;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Header Styling */
header {
  border-bottom: 1rem solid #495E57;
}

/* Links */
a {
  text-decoration: none;
  color: #495E57;
}

/* Headings */
h1, h2 {
  line-height: 1;
  font-family: "Markazi Text", serif;
  font-weight: normal;
}

h1 { font-size: 3.5rem; }
h2 { font-size: 2.5rem; }

/* Forms */
form {
  max-width: 28.125rem;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

label {
  cursor: pointer;
  font-weight: bold;
}

input, select {
  height: 2.5rem;
  padding: 0 1rem;
  outline: none;
  border: 0.0625rem solid #E0E0E0;
  border-radius: 0.375rem;
  background: #FFFFFF;
  color: #495E57;
  transition: border-color 0.3s;
}

input:focus, select:focus {
  border: 0.125rem solid #495E57;
}

/* Button Styles */
.button {
  border: none;
  cursor: pointer;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
  font-weight: bold;
  transition: background, border, color 0.5s;
}

.button-primary {
  background-color: #F4CE14;
  color: #495E57;
  border: 0.1875rem solid #F4CE14;
}

.button-primary:hover,
.button-primary:focus {
  background-color: #495E57;
  border-color: #495E57;
  color: #FFFFFF;
}

/* Responsive Grid */
.container {
  max-width: 61.625rem;
  width: 90%;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 1rem;
}

img {
  max-width: 100%;
}

main > section {
  margin-bottom: 5rem;
}
